/* Contenedor principal de la aplicación */
.app-container {
  text-align: center;
}

/* Logo principal */
.logo {
  height: 40vmin;
  pointer-events: auto; /* Permite interacción */
  cursor: pointer;
  animation: app-logo-spin infinite 20s linear; /* Rotación continua */
}

/* Header principal */
.app-header {
  background-color: var(--color-darker);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-white);
}

/* Enlaces dentro de la app */
.app-link {
  color: var(--color-primary);
  text-decoration: none;
}

/* Animación para rotar el logo */
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
